
body {
  font-family: "Courier New", Courier, monospace;
  background-color: #88C070;
  color: #081820;
  margin: 0;
  padding: 0;
}
.navbar {
  background-color: #e0f8d0;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  top: 0;
  height: 50px;
}
.navbar a {
  margin: 0 15px;
  color: #081820;
  text-decoration: none;
  font-weight: bold;
}
.bench-container {
  display: grid;
  gap: 10px;
}
.bench-container.pocket {
  grid-template-columns: repeat(3, 1fr);
}
.bench-container.standard {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.pokemon.bench {
  border: 1px solid #e0f8d0;
  padding: 10px;
  text-align: center;
}
